<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://www.marcellosurdi.name/demo/_shared/css/demo.css" rel="stylesheet">
    <%= require('html-loader!./inc/style.html').default %>
    <link href="./css/combobox-component.min.css" rel="stylesheet">
  </head>

  <body>
    <%= require('html-loader!./inc/body.html').default %>

    <script src="https://www.marcellosurdi.name/demo/_shared/js/demo.js"></script>
    <script src="./js/combobox-component.min.js"></script>
    <script>

      const offices = [
        { id: "33", name: "Alghero Aeroporto - AHO", descr: "Desk in terminal" },
        { id: "75", name: "Ancona Aeroporto - AOI", descr: "Desk in terminal" },
        { id: "43", name: "Bari Aeroporto - BRI", descr: "Desk in terminal" },
        { id: "72", name: "Bergamo Aeroporto - BGY", descr: "Desk in terminal" },
        { id: "24", name: "Bologna Aeroporto - BLQ", descr: "Desk in Terminal" },
        { id: "64", name: "Bologna", descr: "40121 - Viale Pietramellara,  37" },
        { id: "22", name: "Bolzano", descr: "Viale Galileo Galilei,  10/H" },
        { id: "51", name: "Brescia", descr: "25122 - Via della Stazione,  49" },
        { id: "53", name: "Brindisi Aeroporto - BDS", descr: "Desk in Rent a Car area" },
        { id: "34", name: "Cagliari Aeroporto - CAG", descr: "Desk in terminal" },
        { id: "94", name: "Catania Aeroporto - CTA", descr: "Desk in Rent a Car area" },
        { id: "93", name: "Comiso Aeroporto - CIY", descr: "Desk in arrivals hall" },
        { id: "23", name: "Firenze Aeroporto - FLR", descr: "Palagio degli Spini area" },
        { id: "19", name: "Firenze", descr: "50123 - Via Borgognissanti,  100/R" },
        { id: "28", name: "Genova Aeroporto - GOA", descr: "Desk in terminal" },
        { id: "96", name: "Giardini Naxos", descr: "98135 - Via Recanati,  21" },
        { id: "26", name: "Lamezia Aeroporto - SUF", descr: "Desk in terminal" },
        { id: "74", name: "Lanciano", descr: "66034 - Viale delle Rimembranze,  31" },
        { id: "80", name: "Messina", descr: "98122 - Via Vittorio Emanuele II,  7" },
        { id: "14", name: "Milano Linate - LIN", descr: "Desk in terminal" },
        { id: "15", name: "Milano Malpensa T1 - MXP", descr: "Desk in Terminal 1" },
        { id: "32", name: "Milano (via Doria)", descr: "20124 - Viale Andrea Doria,  46" },
        { id: "16", name: "Milano (via Pisani)", descr: "20124 - Via Vittor Pisani,  7" },
        { id: "10", name: "Milazzo", descr: "98057 - Via Tindaro La Rosa,  24" },
        { id: "18", name: "Napoli Aeroporto - NAP", descr: "Desk in Rent a Car area" },
        { id: "47", name: "Olbia Aeroporto - OLB", descr: "Desk in Rent a Car area" },
        { id: "91", name: "Palermo Aeroporto - PMO", descr: "Desk in Rent a Car area" },
        { id: "46", name: "Palermo (via Napoli)", descr: "90144 - Via Napoli,  90" },
        { id: "92", name: "Palermo (via Stabile)", descr: "90139 - Via Mariano Stabile,  6\/A" },
        { id: "27", name: "Pantelleria Aeroporto - PNL", descr: "Desk in arrivals hall" },
        { id: "40", name: "Perugia Aeroporto - PEG", descr: "Desk in terminal" },
        { id: "39", name: "Perugia", descr: "06124 - Via Settevalli,  4" },
        { id: "71", name: "Pescara Aeroporto - PSR", descr: "Desk in terminal" },
        { id: "20", name: "Pisa Aeroporto - PSA", descr: "Desk in Rent a Car area" },
        { id: "68", name: "R. Calabria Aeroporto - REG", descr: "Desk in Rent a Car area" },
        { id: "69", name: "R. Calabria", descr: "89127 - Via Aspromonte,  18\/C" },
        { id: "78", name: "Rimini Aeroporto - RMI", descr: "47924 - Via Flaminia,  409" },
        { id: "25", name: "Roma Ciampino - CIA", descr: "Desk in Rent a Car area" },
        { id: "21", name: "Roma (via Teulada)", descr: "00185 - Via Teulada,  57\/59" },
        { id: "11", name: "Roma Fiumicino - FCO", descr: "Desk in terminal" },
        { id: "63", name: "Roma Termini", descr: "00185 - Via Giovanni Giolitti,  34" },
        { id: "17", name: "Salerno", descr: "84123 - Piazza Vittorio Veneto,  36" },
        { id: "38", name: "Siracusa", descr: "96100 - Corso Umberto I n. 90" },
        { id: "52", name: "Torino Aeroporto - TRN", descr: "Desk in terminal" },
        { id: "29", name: "Torino (Beinasco)", descr: "10092 - Strada Orbassano,  16/18" },
        { id: "30", name: "Torino (Lingotto)", descr: "10126 - Via Nizza,  294" },
        { id: "84", name: "Trapani Aeroporto - TPS", descr: "Desk in Rent a Car area arrivals hall" },
        { id: "73", name: "Treviso Aeroporto - TSF", descr: "Desk in terminal" },
        { id: "66", name: "Trieste Aeroporto - TRS", descr: "34077 - Via Aquileia,  46" },
        { id: "41", name: "Venezia Aeroporto - VCE", descr: "P1 Parking" },
        { id: "48", name: "Verona Aeroporto - VRN", descr: "Desk in Rent a Car area" }
      ];

      const offices2 = [
        { id: "33", name: "Alghero Aeroporto - AHO", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "75", name: "Ancona Aeroporto - AOI", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "43", name: "Bari Aeroporto - BRI", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "72", name: "Bergamo Aeroporto - BGY", descr: "Desk in terminal", icon: 'airport', electric_cars: 1 },
        { id: "24", name: "Bologna Aeroporto - BLQ", descr: "Desk in Terminal", icon: 'airport', electric_cars: 0 },
        { id: "64", name: "Bologna", descr: "40121 - Viale Pietramellara,  37", icon: 'railway-station', electric_cars: 0 },
        { id: "22", name: "Bolzano", descr: "Viale Galileo Galilei,  10/H", icon: 'railway-station', electric_cars: 0 },
        { id: "51", name: "Brescia", descr: "25122 - Via della Stazione,  49", icon: 'railway-station', electric_cars: 1 },
        { id: "53", name: "Brindisi Aeroporto - BDS", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 },
        { id: "34", name: "Cagliari Aeroporto - CAG", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "94", name: "Catania Aeroporto - CTA", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 },
        { id: "93", name: "Comiso Aeroporto - CIY", descr: "Desk in arrivals hall", icon: 'airport', electric_cars: 0 },
        { id: "23", name: "Firenze Aeroporto - FLR", descr: "Palagio degli Spini area", icon: 'airport', electric_cars: 0 },
        { id: "19", name: "Firenze", descr: "50123 - Via Borgognissanti,  100/R", icon: 'railway-station', electric_cars: 0 },
        { id: "28", name: "Genova Aeroporto - GOA", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "96", name: "Giardini Naxos", descr: "98135 - Via Recanati,  21", icon: 'port', electric_cars: 0 },
        { id: "26", name: "Lamezia Aeroporto - SUF", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "74", name: "Lanciano", descr: "66034 - Viale delle Rimembranze,  31", icon: 'railway-station', electric_cars: 0 },
        { id: "80", name: "Messina", descr: "98122 - Via Vittorio Emanuele II,  7", icon: 'port', electric_cars: 0 },
        { id: "14", name: "Milano Linate - LIN", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "15", name: "Milano Malpensa T1 - MXP", descr: "Desk in Terminal 1", icon: 'airport', electric_cars: 1 },
        { id: "32", name: "Milano (via Doria)", descr: "20124 - Viale Andrea Doria,  46", icon: 'railway-station', electric_cars: 1 },
        { id: "16", name: "Milano (via Pisani)", descr: "20124 - Via Vittor Pisani,  7", icon: 'railway-station', electric_cars: 1 },
        { id: "10", name: "Milazzo", descr: "98057 - Via Tindaro La Rosa,  24", icon: 'port', electric_cars: 0 },
        { id: "18", name: "Napoli Aeroporto - NAP", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 },
        { id: "47", name: "Olbia Aeroporto - OLB", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 },
        { id: "91", name: "Palermo Aeroporto - PMO", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 1 },
        { id: "46", name: "Palermo (via Napoli)", descr: "90144 - Via Napoli,  90", icon: 'railway-station', electric_cars: 1 },
        { id: "92", name: "Palermo (via Stabile)", descr: "90139 - Via Mariano Stabile,  6\/A", icon: 'port', electric_cars: 1 },
        { id: "27", name: "Pantelleria Aeroporto - PNL", descr: "Desk in arrivals hall", icon: 'airport', electric_cars: 0 },
        { id: "40", name: "Perugia Aeroporto - PEG", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "39", name: "Perugia", descr: "06124 - Via Settevalli,  4", icon: 'railway-station', electric_cars: 0 },
        { id: "71", name: "Pescara Aeroporto - PSR", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "20", name: "Pisa Aeroporto - PSA", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 },
        { id: "68", name: "R. Calabria Aeroporto - REG", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 },
        { id: "69", name: "R. Calabria", descr: "89127 - Via Aspromonte,  18\/C", icon: 'railway-station', electric_cars: 0 },
        { id: "78", name: "Rimini Aeroporto - RMI", descr: "47924 - Via Flaminia,  409", icon: 'airport', electric_cars: 0 },
        { id: "25", name: "Roma Ciampino - CIA", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 1 },
        { id: "21", name: "Roma (via Teulada)", descr: "00185 - Via Teulada,  57\/59", icon: 'railway-station', electric_cars: 1 },
        { id: "11", name: "Roma Fiumicino - FCO", descr: "Desk in terminal", icon: 'airport', electric_cars: 1 },
        { id: "63", name: "Roma Termini", descr: "00185 - Via Giovanni Giolitti,  34", icon: 'railway-station', electric_cars: 1 },
        { id: "17", name: "Salerno", descr: "84123 - Piazza Vittorio Veneto,  36", icon: 'railway-station', electric_cars: 0 },
        { id: "38", name: "Siracusa", descr: "96100 - Corso Umberto I n. 90", icon: 'port', electric_cars: 0 },
        { id: "52", name: "Torino Aeroporto - TRN", descr: "Desk in terminal", icon: 'airport', electric_cars: 1 },
        { id: "29", name: "Torino (Beinasco)", descr: "10092 - Strada Orbassano,  16/18", icon: 'railway-station', electric_cars: 1 },
        { id: "30", name: "Torino (Lingotto)", descr: "10126 - Via Nizza,  294", icon: 'railway-station', electric_cars: 1 },
        { id: "84", name: "Trapani Aeroporto - TPS", descr: "Desk in Rent a Car area arrivals hall", icon: 'airport', electric_cars: 0 },
        { id: "73", name: "Treviso Aeroporto - TSF", descr: "Desk in terminal", icon: 'airport', electric_cars: 0 },
        { id: "66", name: "Trieste Aeroporto - TRS", descr: "34077 - Via Aquileia,  46", icon: 'airport', electric_cars: 0 },
        { id: "41", name: "Venezia Aeroporto - VCE", descr: "P1 Parking", icon: 'airport', electric_cars: 0 },
        { id: "48", name: "Verona Aeroporto - VRN", descr: "Desk in Rent a Car area", icon: 'airport', electric_cars: 0 }
      ];


      new ComboBoxComponent.ComboBox( 'pickup-input', { items: offices, onSelect: sync } );

      const dropoff = new ComboBoxComponent.ComboBox( 'dropoff-input', { items: offices } );

      function sync( li ) {
        dropoff.select( li );
      }

      new ComboBoxComponent.ComboBox( 'green-location', { items: offices2, onFilter: filter, highlight_color: '#ffc' } );

      function filter( item ) {
        const { electric_cars } = item;
        return ( electric_cars ) ? true : false;
      }

      new ComboBoxComponent.ComboBox( 'itcities', { endpoint: 'http://www.marcellosurdi.name/demo/_shared/api/index.php?method=getitcities&q=', onFetch: returnItems } );

      function returnItems( json ) {
        let itcities = [];
        if( json.Status === '00' && json.Itcities ) {
          itcities = json.Itcities.map( item => {
            return { id: item.CC, name: item.CityName, descr: item.Descr }
          } );
        }

        return itcities;
      }
    </script>
  </body>
</html>
