* { box-sizing: border-box; }
html, body, input { font: 100% arial; }
div.form-section { margin: 20px auto; max-width: 768px; }
label { display: block; padding-bottom: 5px; }
input { border: 1px solid #ccc; padding: 10px; width: 100%; }
input:focus { background-color: #efefef; outline: 0; }